/*
задача 1: 1ый элемент, должен оказаться на последнем месте, а последний элемент на 1ом.
задача 2: 9ый элемент, должен занимать всю ширину(3части).
задача 3: 5ый элемент, должен занимать 2части.*/

.grid__item--1 { order: 12; }
.grid__item--12 { order: -1; }
.grid__item--9 { grid-column: span 3; }
.grid__item--5 { grid-column: span 2; }