h1,
h2,
h3,
p,
ol,
ul,
body {
margin: 0;
}

ol,li{
    list-style: none;
    padding: 0;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    border: 1px solid black;
}

.menu_item {
    position: relative;
    width: 500px;
}

.menu_item a{
    display: flex;
    color: black;
    padding: 10px;
}

.categories{
    display: none;
    position: absolute;
    text-align: center;
    border: 1px solid black;
}

.menu_item a:hover {
    color: #7623a2;
}

.menu_categories:hover .categories {
    display: flex;
    flex-direction: column;
}
