/*задача 1.
через селектор по атрибуты, выделите ссылки которые начинаются на https
выделите их цветом, например красным.*/

a[href^="https"] {
    color: palevioletred;
}

/*задача 2.
Сделать так, чтобы цвет списка list, был цвета, который указан в css, т.е синим*/
.list span{
    color: blue !important;
}

/*задача 3.
добавить отступ сверху элементам в списке .ordered-list, у 1ого элемента отступа быть не должно.
используем комбинацию селекторов (* - смежные)*/

.ordered-list li + li {
    margin-top: 8px;
}

/*задача 4.
в блоке с классом user-content, у заголовков, цвет должно поменяться только на 1ом уровне вложенности.
т.е Заголовок 3 и Заголовок 4 не должен быть оранжевым*/

.user-content > div > h2 {
    color: inherit; 
}
.user-content > div > div > h2 {
    color: inherit; 
}

